.css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root:hover  {
    color: white;
    background-color: #1bc51b!important;
}
.css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root:hover .css-wa5fuu-MuiListItemIcon-root {
    background-color: #fff!important;
}
.css-wa5fuu-MuiListItemIcon-root{
    color:  #1bc51b!important;

}